<div class="row">
<div class="col-md-2">&nbsp;</div>

<div class="col-md-8">

<div id="policePanel" class="panel panel-default">
			
			<div class="panel-heading">
				<h3 class="panel-title">Police</h3>
			</div>
			
			<div class="panel-body">
				<!-- Have a component for adding police -->
				<div class="row">
					<div class="col-md-12">
						<app-police-add></app-police-add>
					</div>				
				</div>
				
				<!-- Have a component for viewing police -->
				<div class="row">
					<div class="col-md-12">
						<app-police-list></app-police-list>
					</div>				
				</div>
				<!--  
				<div class="row">
						<div class="col-md-12">
							<app-student-search></app-student-search>
						</div>				
				</div>
				-->
				
			</div>
			
			
		</div>
</div>
<div class="col-md-2">&nbsp;</div>
</div>